@inject IHttpRequestService httpService;

@if (HamstersTest == null)
{
    <h2>Loading...</h2>
}
else
{
    <p>sample text</p>
    @*<RadzenGrid AllowFiltering="true"
            AllowSorting="true"
            FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
            PageSize="10"
            TItem="HamsterDto"
            Data="@HamstersTest"
            ColumnWidth="300px">
        <Columns>
            <RadzenGridColumn TItem="@HamsterDto" Property="Id" Title="Match Id"></RadzenGridColumn>
            <RadzenGridColumn TItem="@HamsterDto" Property="Name" Title="Name"></RadzenGridColumn>
            <RadzenGridColumn TItem="@HamsterDto" Property="ImageUrl" Title="Image"></RadzenGridColumn>
            <RadzenGridColumn TItem="@HamsterDto" Property="Age" Title="Age"></RadzenGridColumn>
        </Columns>
    </RadzenGrid>*@
}


@code {
    private IEnumerable<HamsterDto> HamstersTest { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HamstersTest = await httpService.GetHamstersAsync();
    }
    private void Print()
    {
        Console.WriteLine("Clicked");
    }
}